* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    width: 100%;
    height: 100px;
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.boards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    max-width: 600px;
    margin: auto;
    gap: 1px;
}

.cell {
    aspect-ratio: 1 / 1; 
    background-color: #bbb;
    border: 1px solid #fff;
}

.modulo {
    background-color: #0056b3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#toggleButton, .doneButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

#toggleButton:hover, .doneButton:hover {
    background-color: #0056b3;
}

.placementDisplay {
    margin-top: 10px;
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.modulo-gameboard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    z-index: 1;
}

.modulo-gameboard .cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

.modulo-gameboard .cell:hover, .game-board .cell:hover {
    background-color: #f0f0f0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffcc00;
}

.cell.ship {
    background-color: navy;
}

.cell.preview {
    background-color: lightblue;
}
