body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #004d99;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.game-board, .modulo-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 1px; 
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto; 
}

.cell {
    background-color: #a9d0f5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    aspect-ratio: 1 / 1; 
    border: 1px solid #000; 
}

.cell.ship {
    background-color: #0d6efd;
}

.cell.preview {
    background-color: #20c997;
}

.cell.invalid {
    background-color: red;
}

.cell.hit {
    background-color: red; 
}

.cell.miss {
    background-color: gray; 
}

.modulo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #004d99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; 
    margin: auto;
    padding: 20px;
    z-index: 10;
}

.modulo-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px; 
    justify-content: center;
    padding: 10px; 
    width: 100%; 
    aspect-ratio: 1 / 1;
    margin: auto;
}

.placementDisplay, .modulo button {
    font-size: 1.2em;
    color: #004d99;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

.modulo button {
    cursor: pointer;
}

#toggleButton {
    background-color: #ffc107; 
}

.doneButton {
    background-color: #28a745;
}

.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffc107;
}

@media (max-width: 768px) {
    .boards {
        flex-direction: column;
        align-items: center;
    }

    .game-board, .modulo-gameboard {
        width: 90vw; 
        height: 90vw;
    }
}
