body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #004d99;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; /* Ensure boards wrap on smaller screens */
}

.game-board, .modulo-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Creates a 10x10 grid */
    gap: 2px;
    width: 80vw; /* Responsive width */
    height: 80vw; /* Maintains aspect ratio */
    max-width: 500px; /* Maximum size */
    max-height: 500px; /* Maximum size */
    margin: auto; /* Center the boards if within a flex container */
}

.cell {
    background-color: #a9d0f5;
    border-radius: 3px; /* For rounded corners */
    display: flex; /* Flex container for centering content */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    cursor: pointer;
}

.cell.ship {
    background-color: #0d6efd; /* Color for cells that have ships */
}

.cell.preview {
    background-color: #20c997; /* Preview color when hovering */
}

.modulo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #004d99;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 80%;
    z-index: 10; /* Ensure it's above other elements */
}

.modulo-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 3vw); /* Responsive smaller cells for ship placement */
    gap: 2px;
    max-width: 500px; /* Adjust if needed */
}

.placementDisplay, .modulo button {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #004d99;
    font-weight: bold;
    padding: 8px 15px;
    margin: 5px 0; /* Spacing between buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleButton {
    background-color: #ffc107; /* Highlight ship orientation toggle */
}

#toggleButton:hover, .doneButton:hover {
    opacity: 0.8;
}

.doneButton {
    background-color: #28a745; /* Confirm placement */
}

.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .boards {
        flex-direction: column;
        align-items: center;
    }

    .game-board, .modulo-gameboard {
        width: 90vw; /* Adjust the board size for smaller screens */
        height: 90vw; /* Maintain aspect ratio */
    }
}
